{% extends 'base.html' %}

{% block header %}
<h3 class="uk-text-center uk-dark">{% block title %}Register{% endblock %}</h3>
{% endblock %}


{% block content %}
<!-- Here contains the form to register as a user -->
<form method="POST" class="uk-position-center">

  <label>Username</label>
  <div>
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
      <input class="uk-input" type="text" name="username" id="username" required>
    </div>
  </div>
  <label>Password</label>
  <div>
    <div class="uk-inline">
      <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
      <input class="uk-input" type="password" name="password" id="password" required>
    </div>
  </div>
  <div>
    <div>
      <input style="float:center;" class="uk-button uk-button-default uk-margin-top uk-width-1-1" type="submit"
        value="Register">
    </div>
  </div>

</form>
{% endblock %}